/node_modules/
/app/lib/
/data/
/client/resources/
/module/view/ckeditor/lib/
/module/view/codemirror/lib/
/client/theme/mybase/image
/client/theme/manager/image
.dropbox
desktop.ini
/tags
/config/registry.json
/config/registry.xml
