/node_modules
/app/lib
/module/editor/ckeditor/ckeditor
/client/resources/
/client/theme/mybase/image
/client/theme/manager/image
/data/tmp/
/data/cache/
/data/logs/
/data/user/
.dropbox
desktop.ini
/tags
/config/registry.json
/config/registry.xml
