<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Graph</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" type="image/x-png" href="<%= settings.ui.theme.path %>/image/html-folder.png">
    <%- link_tag(settings.ui.theme.path + '/css/list.txt') %>
    <%- include_tag('/config/list.txt') %>
    <link rel="stylesheet" type="text/css" href="/client/resources/css/ext-all.css">
  </head>
  <body>   
    <script>
      $set = <%- JSON.stringify(settings) %>
      app = new Application();
    </script>
    <div id="desktop"></div>
  </body>
</html>
