<div id="all_forms">
	<div id="generic_dialog_box" class="dialogBox"><div class="dialogTitle"></div><div class="dialogContent"></div></div>
	<div id="hidden_frames" style="display:none;"></div>
	<div id="hidden_forms" style="position:absolute; left:-1000px;"></div>	
	<%- partial('login') %>
	
</div>
