<html>
	<head>
		<script language="javascript" type="text/javascript" src="/app/lib/ext-all.js"></script>
	</head>
	<body>
		<script>
			var pbar = Ext.create('Ext.ProgressBar', {
				renderTo: 'progressBox',
				width: 300,
				text:'Initializing...'
			});
		</script>
		<div id='progressBox'></div>
	</body>
</html>
